body {
    background-image: url(/assets/img/mars.jpg); 
    background-size: auto;
    align-content: center;
    text-align: center;

}


h1 {
	margin-bottom: 8px;
    color: blanchedalmond;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
}

h2 {
	margin-bottom: 8px;
    color: black;
    font-weight: 200;
    text-align: center;
}

main {
    background-size: cover;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

#main {
    background-size: cover;
    height: 500px;
    align-content: center;
    text-align: center;
}


button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

p {
    background-color: aliceblue;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 550px;
}